<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>登録情報の変更</h2>
			<div class="form-horizontal" role="form">
				<%= form_for @enduser, :url => {:contoroller => :admin_endusers, :action => :update} do |f| %>
              	<div class="form-group">
						<h4>名前</h4>
						<%= f.text_field :first_name, class: 'form-control',placeholder:"姓",id:"half-form1" %><br>
				       	<%= f.text_field :last_name, class: 'form-control',placeholder:"名",id:"half-form1" %><br>
	       		</div>
				<div class="form-group">
						<h4>名前（カナ）</h4>
						<%= f.text_field :first_name_kana, class: 'form-control',placeholder:"セイ",id:"half-form2" %><br>
						<%= f.text_field :last_name_kana, class: 'form-control',placeholder:"メイ",id:"half-form2" %><br>
             	</div>
             	<div class="form-group">
             			<h4>郵便番号</h4>
				       <%= f.number_field :postcode, class: 'form-control',placeholder:"郵便番号" %><br>
				</div>
                <div class="form-group">
                		<h4>住所</h4>
				       <%= f.text_field :address, class: 'form-control',placeholder:"住所" %><br>
				</div>
                <div class="form-group">
                		<h4>電話番号</h4>
				       <%= f.telephone_field :tel, class: 'form-control',placeholder:"電話番号" %><br>
				</div>

				<div class="form-group">
						<%= f.submit "変更" , class: "btn btn-info col-md-10 col-md-offset-1" %>
				</div>
	   			<% end %>
    		</div>
  		</div>
	</div>
</div>
