<div class="container">
<div class="row">
<div class="col-md-7">
	<h2>受注詳細</h2><br>
	<%= form_for(@order, :url => {:controller => :admin_orders, :action => :update}) do |f| %>
		<table border="2">
			<tr>
				<th>購入者</th>
				<td width="200"><%= @order.enduser.first_name + @order.enduser.last_name %></td>
			</tr>
		</table>
		<table border="2">
			<tr class="buy_log">
				<th>購入日</th>
				<td><%= simple_time(@order[:created_at]) %></td>
				<th>総額</th>
				<td width="100"><%= @order.order_details.sum(:purchase_price) %>円</td>
				<th>ステータス</th>
				<td>
					<%= f.select :order_status, Order.order_statuses.keys, {}, class: "select-default" %>
				</td>
			</tr>
		</table>
		<% @order.order_details.each do |sk3| %>
		<table border="2">
			<tr class="buy_log2">
				<th width="320">商品タイトル</th>
				<th>個数</th>
				<th>小計</th>
			</tr>
			<tr>
				<td height="50"><%= sk3.item.item_name %></td>
				<td><%= sk3.purchase_number %></td>
				<td width="50"><%= sk3.purchase_price%>円</td>
			</tr>
		</table>
		<% end %>
		<table border="2">
			<tr class="buy_log3">
				<th colspan="2" width="400">送付先</th>
			</tr>
			<tr>
				<th>氏名</th>
				<td><%= @order.shipping.shipping_first_name + @order.shipping.shipping_last_name %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= @order.shipping.shipping_address %></td>
			</tr>
		</table><br><br>
		<%= f.submit '更新' %>
	<% end %>
</div>
</div>
</div>