<div class="nested-fields">
  <div class="field">
    <h5>ディスク名</h5>
    <%= f.text_field :disk_name %>
  </div>
  <h5>曲名・曲順</h5>

	<div>
  		<%= f.fields_for :songs do |song| %>
    		<%= render 'song_fields', f: song %>
  		<% end %>
  		<%= link_to_add_association '曲を追加', f, :songs %>
  	</div>
  <div>
  <%= link_to_remove_association "ディスク消去", f %>
</div>
</div>
