<!-- 管理者側商品一覧 -->

<div style="text-align: center; margin-bottom: 30px;">
<h1>商品一覧</h1>
</div>
<div class="container">
	<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
			<% end %>
	<div class="row">
		<div class="col-lg-12">
			<% @items.each do |item| %>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<%= attachment_image_tag item, :item_image, :fill, 270, 150, format: 'jpeg', fallback: "no_image.jpg" %>
					  </td>
					</tr>
					<tr>
					  <td><%= link_to item.item_name, admin_item_path(item[:id]) %></td>
					</tr>
					<tr>
					  <td><%= item.artist.artist_name %></td>
					</tr>
					<tr>
					  <td>値段:<%= item.price %>円</td>
					</tr>
					<tr>
					  <td>在庫数:<%= item.stock_number %>枚</td>
					</tr>
					</tbody>
				</table>
			</div>
			<% end %>
			<div style="text-align: center; font-size: 25px;">
			<%= paginate @items, class: "paginate" %>
			</div>
		</div>
	</div>
</div>