<!-- 管理者側新規商品追加ページ -->
<div class="container">
	<p id="notice"></p>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2> 商品新規追加</h2>
			<%= form_for(@item, :url => {:controller => :admin_items, :action => :create}) do |f| %>

				<% if @item.errors.any? %>
				<div id="error_explanation" style="color: red;">
					<h3> <%= @item.errors.count %>件のエラーが発生しました。</h3>
					<ul>
					<% @item.errors.full_messages.each do |message| %>
					<li> <%= message %> </li>
				<% end %>
					</ul>
				</div>
				<% end %>

			<div>
				<h3>CDタイトル</h3>
				<%= f.text_field :item_name %>
			</div>

			<div>
				<h3>ジャケ写</h3>
				<%= f.attachment_field :item_image %>
			</div>

			<div>
				<h3>アーティスト名</h3>
				<%= f.collection_select :artist_id, Artist.all, :id, :artist_name, :prompt => true %>
				<%= link_to "アーティスト追加", new_admin_artist_path %>
			</div>

			<div>
				<h3>価格</h3>
				<%= f.text_field :price %><p>円</p>
			</div>

			<div>
				<h3>レーベル名</h3>
				<%= f.collection_select :label_id, Label.all, :id, :label_name, :prompt => true %>
				<%= link_to "レーベル追加", new_admin_label_path %>
			</div>

			<div>
				<h3>ジャンル</h3>
				<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => true %>
			</div>

			<div>
				<h3>ディスク</h3>
	  			<%= f.fields_for :disks do |disk| %>
	    		<%= render 'disk_fields', f: disk %>
	  			<% end %>
			</div>
			<div class="links">
				<%= link_to_add_association 'ディスク追加', f, :disks %>
			</div>

			<div>
				<h3>販売状態</h3>
				<%= f.select :item_status, Item.item_statuses.keys, class: "select-default" %>
			</div>

			<div>
				<h3>追加枚数</h3>
				<%= f.number_field :stock_number %>
			</div>

			<div>
				<%= f.submit '商品新規追加' %>
			</div>

			<% end %>
		</div>
	</div>
</div>
