<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>登録情報の変更</h2>
			<div class="form-horizontal" role="form">
				<%= form_for @enduser do |f| %>
              	<div class="form-group">
						<%= f.label :first_name, "名前" , :class => "control-label" %>
						<%= f.text_field :first_name, class: 'form-control',placeholder:"姓",id:"half-form1" %>
						<%= f.label :last_name,:class => " control-label" %>
				       	<%= f.text_field :last_name, class: 'form-control',placeholder:"名",id:"half-form1" %>
	       		</div>
				<div class="form-group">
						<%= f.label :first_name_kana, :class => " control-label" %>
						<%= f.text_field :first_name_kana, class: 'form-control',placeholder:"セイ",id:"half-form2" %>
						<%= f.label :last_name_kana , :class => " control-label" %>
						<%= f.text_field :last_name_kana, class: 'form-control',placeholder:"メイ",id:"half-form2" %><br>
             	</div>
             	<div class="form-group">
				       <%= f.label :postcode, :class => " control-label" %>
				       <%= f.number_field :postcode, class: 'form-control',placeholder:"郵便番号" %><br>
				</div>
                <div class="form-group">
				       <%= f.label :address, :class => " control-label" %>
				       <%= f.text_field :address, class: 'form-control',placeholder:"住所" %><br>
				</div>
                <div class="form-group">
				       <%= f.label :tel, :class => " control-label" %>
				       <%= f.telephone_field :tel, class: 'form-control',placeholder:"電話番号" %><br>
				</div>
				<div class="form-group">
				       <%= f.label :encrypted_password, :class => " control-label" %>
				       <%= f.telephone_field :encrypted_password, class: 'form-control',placeholder:"パスワード" %><br>
				</div>
				<div class="form-group">
				       <%= f.label :reset_password_token, :class => " control-label" %>
				       <%= f.telephone_field :reset_password_token, class: 'form-control',placeholder:"パスワード確認" %><br>
				</div>
				<div class="form-group">
						<%= f.submit "変更" , class: "btn btn-info col-md-10 col-md-offset-1" %>
				</div>
	   			<% end %>
    		</div>
  		</div>
	</div>
</div>
