<div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>ユーザー情報</h2><br>
				<div class="row">
					<div class="col-md-6">氏名　姓</div>
					<div class="col-md-6">氏名　名</div>
					<div class="col-md-6">氏名　セイ</div>
					<div class="col-md-6">氏名 メイ</div>
					<ul>
						<li> 郵便番号　</li>
						<li> 住所</li>
						<li> メールアドレス </li>
						<li> 電話番号 </li>
						<li> パスワード </li>
					</ul>
				</div>
				<div class="col-md-6"><%= link_to "編集", edit_user_path, class: 'btn btn-default' %></div>
			</div>
			<div class="col-md-6">
				<h2>購入履歴</h2><br>
				<div>
					<div class="container">
						<div class="row">
							<table border>
								<tr>
								  <th class="haba">購入日</th>
								  <td class="haba">2019/07/10</td>
								  <th class="haba">統計</th>
								  <td class="haba">¥¥¥</td>
								  <th class="haba">ステータス</th>
								  <td class="haba" >出荷中</td>
								</tr>
							</table>
							<table border><br>
								<tr>
									<th width="300">商品タイトル</th>
									<th class="haba2">個数</th>
									<th class="haba2">小計</th>
								</tr>
							</table>
						</div>



<div class="col-md-6"><%= @enduser.name_first %></div>
							<div class="col-md-6"><%= @enduser.name_last %></div>
							<div class="col-md-6"><%= @enduser.name_first %></div>
							<div class="col-md-6"><%= @enduser.neme_last %></div>
							<div class="col-md-12">
								<ul>
									<li><%= @shiping.shipping_postcode %></li>
									<li><%= @shiping.shipping_address %></li>
									<li><%= @enduser.email %></li>
									<li><%= @enduser.tel %></li>
									<li><%= @enduser.password %></li>
								</ul>
							</div>