<div>
	<div class="container">
		<div class="row">
<!--いりこ-->
			<div class="col-md-6">
				<h2>ユーザー情報</h2><br>
				<div class="row">
					<div class="col-md-6"><%= @enduser.first_name %></div>
						<div class="col-md-6"><%= @enduser.last_name %></div>
							<div class="col-md-6"><%= @enduser.first_name_kana %></div>
								<div class="col-md-6"><%= @enduser.last_name_kana %></div>

						<div class="col-md-12">
							<ul>
								<li><%= @shiping.shipping_postcode %></li>
								<li><%= @shiping.shipping_address %></li>
								<li><%= @enduser.email %></li>
								<li><%= @enduser.tel %></li>
								<li><%= @enduser.password %></li>
							</ul>
						</div>
					<div class="col-md-6"><%= link_to "編集", edit_enduser_path, class: 'btn btn-default' %></div>
				</div>
			</div>
		</div>
	</div>
		<div class="col-md-6">
			<h2>購入履歴</h2><br>
				<div>
					<div class="container">
						<div class="row">
							<table border>
								<tr>
								  <th class="haba">購入日</th>
								  <td class="haba">2019/07/10</td>
								  <th class="haba">統計</th>
								  <td class="haba">¥¥¥</td>
								  <th class="haba">ステータス</th>
								  <td class="haba" >出荷中</td>
								</tr>
							</table>
							<table border><br>
								<thead>
								<tr>
									<th width="300">商品タイトル</th>
									<th class="haba2">個数</th>
									<th class="haba2">金額</th>
								</tr>

								</thead>

		<!--繰り返しの機能-->
								<tbody>
									<% order_details.each do |sk2| %>
								<tr>
									<td width="300"><%= sk2_item.item_name %></td>
									<td class="haba2"><%= sk2.purchase_number %></td>
									<td class="haba2"><%= sk2.purchase_price %></td>
								</tr>
									<%end%>
								</tbody>
							</table>
						</div>
