<div class="container">
	<div class="row">
		<div class="col-lg-8">

			<%= form_for(@order, url: orders_confirm_path) do |f| %>
			<h2 style="margin-bottom: 30px;"><span>支払い方法の選択</span></h2>
			<h3>支払い方法</h3>
			<%= f.select :payment, Order.payments.keys, {}, class: "select-default" %>

			<h2 style="margin-bottom: 30px;"><span>お届け先住所の選択</span></h2>
			<% if @order.errors.any? %>
 				 <div id="error_explanation">
   				 <h4 style="color: red;">※送付先を選択してください</h2>
 				 </div>
			<% end %>
			<h3 style="margin-bottom: 30px;"> 登録住所</h3>
				<% @shippings.each do |shipping| %>
					<div style=" font-size: 15px; margin-bottom: 15px; border: solid 1px; width:450px;">
						<table>
							<tbody>
								<tr>
									<label style="padding-left: 5px;"><%= f.radio_button :shipping_id,  "#{shipping.id}" %></label>
									<td width="150"> セイ:<%= shipping.shipping_first_name_kana %></td>
									<td width="150"> メイ:<%= shipping.shipping_last_name_kana %></td>
								</tr>
								<tr>
									<td width="150"> 姓:<%= shipping.shipping_first_name %></td>
									<td width="150"> 名:<%= shipping.shipping_last_name %></td>
								</tr>
							</tbody>
						</table>
						<table>
							<tbody>
								<tr>
									<td width="200"> 〒<%= shipping.shipping_postcode %></td>
								</tr>
								<tr>
									<td width="450">住所<br>
										<%= shipping.shipping_address %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				<% end %>
				<div style="margin-bottom: 10px;">
					<%= link_to "新しい送付先を追加", new_shipping_path, class: "btn btn-default btn-lg" %>
				</div>
		</div>
		<div class="col-lg-4" style="border: solid 2px;">
			<h2 style="margin-bottom: 30px;"><span>注文明細</span></h2>
			<table>
				<thead>
					<tr>
						<th width="150">品名</th>
						<th width="100">値段</th>
						<th width="50">数量</th>
						<th width="100">小計</th>
					</tr>
				</thead>
				<tbody>
				<% @carts.each do |cart| %>
					<tr>
						<td><%= cart.item.item_name %></td>
						<td><%= (cart.item.price * BigDecimal("1.08")).round %>円(税込)</td>
						<td><%= cart.quantity %>枚</td>
						<td><%= (cart.item.price * BigDecimal("1.08")).round * cart.quantity %>円(税込)</td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<%= link_to "注文数の変更", carts_path, class: "btn btn-default" %>
			<h2 style="margin-bottom: 30px;"><span>金額</span></h2>
			<% sum = 0 %>
			<% @carts.each do |cart| %>
				<% sum = sum + (cart.item.price * BigDecimal("1.08")).round * cart.quantity %>
			<% end %>
			<p style="font-size: 30px; text-align: right;">商品の小計：<%= sum %> 円(税込)</p>
			<p style="font-size: 30px; text-align: right; border-bottom: solid 1px;">送料:500 円</p>
			<p style="font-size: 30px; text-align: right;">合計:<%= sum + 500 %> 円(税込)</p>
			<p style="margin-bottom: 5px;"><%= f.submit "最終確認へ進む", class: "btn btn-default" %></p>
		<% end %>
		</div>
	</div>
</div>
