<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<%= form_for(@order, :url => {:controller => :orders, :action => :create}) do |f| %>
			<h2 style="margin-bottom: 30px;"><span class="label label-default">お届け先住所の選択</span></h2>
			<h3 style="margin-bottom: 30px;"> 登録住所</h3>
				<% @shippings.each do |shipping| %>
					<div style=" font-size: 15px; margin-bottom: 15px; border: solid 1px; width:450px;">
						<table>
							<tbody>
								<tr>
									<label><%= f.radio_button :shipping_id,  "#{shipping.id}" %></label>
									<td width="150"> セイ:<%= shipping.shipping_first_name_kana %></td>
									<td width="150"> メイ:<%= shipping.shipping_last_name_kana %></td>
								</tr>
								<tr>
									<td width="150"> 姓:<%= shipping.shipping_first_name %></td>
									<td width="150"> 名:<%= shipping.shipping_last_name %></td>
								</tr>
							</tbody>
						</table>
						<table>
							<tbody>
								<tr>
									<td width="200"> 〒<%= shipping.shipping_postcode %></td>
								</tr>
								<tr>
									<td width="450">住所<br>
										<%= shipping.shipping_address %>
									</td>
								</tr>
								<tr>
									<td style="float: right; padding-bottom: 5px; padding-right: 5px;">
										<%= link_to 'この住所を使う', items_path, class: "btn btn-default" %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				<% end %>

					<%= link_to "新しい送付先を追加", shippings_new_path, class: "btn btn-default btn-lg" %>
					<h2 style="margin-bottom: 30px;"><span class="label label-default">支払い方法の選択</span></h2>
					<h3>支払い方法</h3>
					<%= f.select :payment, Order.payments.keys, {}, class: "select-default" %>
		</div>
		<div class="col-lg-4" style="border: solid;">
			<h2 style="margin-bottom: 30px;"><span class="label label-default">注文明細</span></h2>
			<table>
				<thead>
					<tr>
						<th>品名</th>
						<th>値段</th>
						<th>数量</th>
						<th>小計</th>
					</tr>
					</thead>
				<tbody>
				<% @carts.each do |cart| %>
					<tr>
						<td><%= cart.item.item_name %></td>
						<td><%= (cart.item.price * BigDecimal("1.08")).round %>円</td>
						<td><%= cart.quantity %>枚</td>
						<td><%= (cart.item.price * BigDecimal("1.08")).round * cart.quantity %>円</td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<%= link_to "変更", carts_path, class: "btn btn-default" %>
			<h2 style="margin-bottom: 30px;"><span class="label label-default">注文内容</span></h2>
			<% sum = 0 %>
			<% @carts.each do |cart| %>
				<% sum = sum + (cart.item.price * BigDecimal("1.08")).round * cart.quantity %>
			<% end %>
			<p style="font-size: 30px;">商品の小計：<%= sum %> 円</p><br>
			<p style="font-size: 30px;">送料     :  500 円</p><br><br>
			<p style="font-size: 30px;">合計     :  <%= sum + 500 %> 円</p>
			<%= f.submit "注文を確定する", class: "btn btn-default" %>
		</div>
			<% end %>
	</div>
</div>
