<!-- ユーザー問合せ画面 -->
<div style="background-size: cover; background-image:url(<%= asset_path "test4.jpg" %>)" class="back">
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="background-color:rgba(255,255,255,0.5); color: black;">
			<%= form_for(@contact, :url => {:controller => :contacts, :action => :create}) do |f| %>
			<div style="text-align: center;">
			<h1>お問い合わせ</h1>
			</div>
			<% if @contact.errors.any? %>
				<div id="error_explanation" style="color: red;">
					<h3> <%= @contact.errors.count %>件のエラーが発生しました。</h3>
					<ul>
					<% @contact.errors.full_messages.each do |message| %>
					<li> <%= message %> </li>
				<% end %>
					</ul>
				</div>
				<% end %>
			<div>
				<h2> 名前</h2>
				<table>
					<tbody>
						<tr>
							<td><%= @enduser.first_name_kana %></td>
							<td><%= @enduser.last_name_kana %></td>
						</tr>
						<tr style="font-size: 25px;">
							<td><%= @enduser.first_name %></td>
							<td><%= @enduser.last_name %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<h2> メールアドレス</h2>
				<p style="font-size: 25px;"><%= @enduser.email %></p>
			</div>
			<div>
				<h2> お問い合わせ内容</h2>
				<%= f.text_area :contact, size: "20*10", class: "form-control", placeholder: "お問い合わせ内容の入力" %>
			</div>
			<div style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
				<%= f.submit '送信', class: "form-control btn btn-success" %>
			</div>
		</div>
	</div>
</div>
</div>
<% end %>