<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<h1>現在のカート内</h1>
			<table class="table table-borderd">
				<thead>
					<tr>
						<th>品名1</th>
						<th>単価</th>
						<th>数量</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @carts.each do |cart| %>
						<tr>
							<td><%= cart.item.item_name %></td>
							<td><%= (cart.item.price * BigDecimal("1.08")).round %>円</td>
							<%= form_for cart do |f| %>
								<td><%= f.select :quantity, @current_stock_number %>個</td>
								<td><%= f.submit '数量変更' %></td>
							<% end %>
							<td><%= link_to "削除", cart_path(cart.id), method: :delete %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%= link_to "/orders/new" do %>
<button class="btn btn-default center-block">配送先住所選択へ進む</button>
<% end %>