<div style="background-image:url(<%= asset_path "sign_in.1.jpg" %>)", class="back" >
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
    <br><h1 style="text-align: center">Sign up</h1><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


    <div class="row">
      <div class="field col-xs-6">
        <%= f.text_field :first_name, autofocus: true,class: 'form-control', placeholder: "姓" %>
      </div>

      <div class="field col-xs-6">
        <%= f.text_field :last_name, autofocus: true,class: 'form-control', placeholder: "名" %>
      </div>
    </div>
    <div class="row">
      <div class="field col-xs-6">
        <%= f.text_field :first_name_kana, autofocus: true,class: 'form-control',placeholder: "セイ" %>
      </div>

      <div class="field col-xs-6">
        <%= f.text_field :last_name_kana, autofocus: true,class: 'form-control', placeholder: "メイ" %>
      </div>
    </div>
      <div class="field"><br>
        <%= f.text_field :postcode, autofocus: true,class: 'form-control', placeholder: "郵便番号" %>
      </div>

      <div class="field"><br>
        <%= f.text_field :address, autofocus: true,class: 'form-control', placeholder: "住所" %>
      </div>

      <div class="field"><br>
        <%= f.email_field :email, autofocus: true,class: 'form-control', placeholder: "メールアドレス" %>
      </div>

      <div class="field"><br>
        <%= f.telephone_field :tel, autofocus: true,class: 'form-control', placeholder: "電話番号" %>
      </div>
      <div class="field"><br>
        <%= f.password_field :password,class: 'form-control', placeholder: "パスワード" %>
      </div>

      <div class="field"><br>
        <%= f.password_field :password_confirmation, class: 'form-control',placeholder: "パスワード確認" %>
      </div>

      <div class="actions"><br>
        <%= f.submit "新規登録", class: "btn btn-info col-md-10 col-md-offset-1" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>