<!-- ユーザー側商品一覧 -->
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<!-- スライドショー部分 -->
<div id="container">
        <div id="theTarget">
            <div style="background-image: url(assets/test1.jpg)"></div>
            <div style="background-image: url(assets/test2.jpg)"></div>
            <div style="background-image: url(assets/test3.jpg)"></div>
            <div style="background-image: url(assets/test4.jpg)"></div>
            <div style="background-image: url(assets/test5.jpg)"></div>
        </div>
</div>
<!-- 商品一覧ページ -->

<div class="container">
	<div class="row">
		<div class="col-lg-9">
<h1 id="title">CD-List</h1>
 <% @items.each do |item| %>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<%= attachment_image_tag item, :item_image, :fill, 270, 150, format: 'jpeg', fallback: "no_image.jpg" %>
					  </td>
					</tr>
					<tr>
					  <td><%= link_to item.item_name, item_path(item[:id]) %></td>
					</tr>
					<tr>
					  <td><%= item.artist.artist_name %></td>
					 </tr>
					<tr>
					  <td>在庫数:<%= item.stock_number %>枚</td>
					</tr>
					<tr>
					  <td><%= (item.price * BigDecimal("1.08")).round %>円</td>
					</tr>
					<% if item.stock_number == 0 %>
					<tr>
					  <td style="color: red;">
					  	<strong>売り切れ</strong>
					  </td>
					</tr>
					<% end %>
					</tbody>
				</table>
			</div>
<% end %>
<div style="text-align: center; font-size: 25px;">
<%= paginate @items, class: "paginate" %>
</div>
		</div>
<!-- ランキング -->
		<div class="col-lg-3">
			<h2 id="title">RANKING</h2>
			<div id="subtitle">人気Top 5</div>
			<div id="backbox">
			<% @item_rank.each do |rank| %>
				<div id="rankbox">
					<tr>
					  <td>
						1
					  </td>
					  <td><%= attachment_image_tag rank, :item_image, :fill, 100, 150, format: 'jpeg', fallback: "no_image.jpg" %></td>
					</tr>
					<div>
					  <%= link_to rank.item_name, item_path(rank) %>
					</div>
					<div>
					   <%= (rank.price * BigDecimal("1.08")).round %>円
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
</div>



