<!-- ユーザー側商品一覧 -->

<!-- スライドショー部分 -->
<div id="container">
        <div id="theTarget">
            <div style="background-image: url(assets/test1.jpg)"></div>
            <div style="background-image: url(assets/test2.jpg)"></div>
            <div style="background-image: url(assets/test3.jpg)"></div>
            <div style="background-image: url(assets/test4.jpg)"></div>
            <div style="background-image: url(assets/test5.jpg)"></div>
        </div>
</div>
<!-- 商品一覧ページ -->

<div class="container">
	<div class="row">
		<div class="col-lg-9">
<h1 id="title">CD-List</h1>
 <% @items.each do |item| %>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<%= attachment_image_tag item, :item_image, :fill, 200, 150, format: 'jpeg', fallback: "no_image.jpg" %>
					  </td>
					</tr>
					<tr>
					  <td><%= link_to item.item_name, item_path(item[:id]) %></td>
					</tr>
					<tr>
					  <td><%= item.price %></td>
					</tr>
					<tr>
					  <td><%= item.item_status %></td>
					</tr>
					</tbody>
				</table>
			</div>
<% end %>
<%= paginate @items, class: "paginate" %>
		</div>
<!-- ランキング -->

		<div class="col-lg-3">
			<h2 id="title">RANKING</h2>
			<div id="subtitle">人気Top 5</div>
			<div id="backbox">
<!-- 一項目 -->

				<div id="rankbox">
					<tr>
					  <td>
						1
					  </td>
					  <td><img src=assets/test1.jpg height="100" width="150"></td>
					</tr>
					<div>
					  <%= link_to "商品名", "items" %>
					</div>
					<div>
					   1000円
					</div>
				</div>
<!-- 一区切り -->
		</div>
	</div>
</div>
</div>



