<!-- 商品詳細ページ(ユーザー側) -->

<div class="container">
	<div class="row">
		<div class="col-lg-9">
<<<<<<< HEAD
			<div class="col-lg-6">
				<%= attachment_image_tag @item, :item_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
			</div>
			<div class="col-lg-6">
				<div>
					<div id="item-info"><%= @item.item_name %></div>
					<div id="item-info"><%= @item.artist.artist_name %></div>
					<div id="item-info"><%= (@item.price * BigDecimal("1.08")).round %>円(税込)</div>
					<% if @item.stock_number == 0 %>
						<div id="item-info" style="color: red;">
							<strong>売り切れ</strong>
						</div>
					<% end %>
					<div id="item-info">レーベル:<%= @item.label.label_name %></div>
					<div id="item-info">ジャンル:<%= @item.genre.genre_name %></div>
				</div>
			</div>
			<% @item.disks.each do |disk| %>
			<div class="col-lg-12" style="font-size: 15px; border: solid 1px;">
				<div class="col-lg-12" style="font-size: 20px;">ディスク名:<%= disk.disk_name %></div>
				<div class="col-lg-12" style="font-size: 20px;">~収録曲~</div>
				<% disk.songs.each do |song| %>
					<div class="col-lg-12"><%= song.track %>,<%= song.song_name %></div>
				<% end %>
			</div>
			<% end %>
		</div>
		<% if @item.stock_number > 0 %>
		<% if @user = current_enduser %>
		<div class="col-lg-3">
			<%= form_for(@cart, :url => {:controller => :carts, :action => :create}) do |f| %>
               <%= f.hidden_field :item_id, :value => @item.id %>
               <%= f.select :quantity, @current_stock_number %>個
               <%= f.submit "カートに追加", class: "btn btn-danger" %>
            <% end %>
            <% if flash[:notice] %>
		  		<p><%= flash[:notice] %></p>
			<% end %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>

