<!-- お問い合わせ一覧 -->
<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
			<% end %>
			<h1>お問い合わせ一覧</h1>
			<table class="table table-borderd">
				<thead>
					<tr>
						<th width="120px">ユーザー名</th>
						<th>問い合わせ内容</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @contact.each do |c| %>
						<tr>
							<td><%= c.enduser.first_name %><%= c.enduser.last_name %></td>
							<td style="width: 250px; max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><%= c.contact %></td>
							<td style="width: 100px; text-align: center;"><%= link_to "詳細画面", admin_contact_path(c.id) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>